<h3>Repos</h3>
<ul>
  <li>{{link-to 'react' 'org.repo.issues' 'react'}}</li>
  <li>{{link-to 'react-native' 'org.repo.issues' 'react-native'}}</li>
  <li>{{link-to 'graphQL' 'org.repo.issues' 'graphQl'}}</li>
</ul>
{{outlet}}
