<h2>My Favorite Organisations</h2>

<ul>
  {{#each model as |org|}}
    <li>
      <span role="button" {{action "favoriteClicked" org}}>[Favorite]</span>
      {{link-to org.id "org" org.id}}
    </li>
  {{/each}}
</ul>

{{outlet}}
