<h2>My Favorite Organisations</h2>

<ul>
  <li>{{link-to 'jQuery' 'org.repos' 'jquery'}}</li>
  <li>{{link-to 'Ember' 'org.repos' 'emberjs'}}</li>
  <li>{{link-to 'Facebook' 'org.repos' 'reactjs'}}</li>
</ul>

{{outlet}}
